YourProjectWebApp/Connected Services/WebServiceYourProject/YourProjectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllPatrons">
        <s:complexType />
      </s:element>
      <s:element name="GetAllPatronsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPatronsResult" type="tns:ArrayOfPatron" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPatron">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Patron" nillable="true" type="tns:Patron" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Patron">
        <s:complexContent mixed="false">
          <s:extension base="tns:CRUDMethods">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="PatronName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="IsGroup" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="CRUDMethods" />
      <s:element name="GetSinglePatron">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSinglePatronResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSinglePatronResult" type="tns:Patron" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePatron">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patron" type="tns:Patron" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePatronResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePatronResult" type="tns:Patron" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePatron">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patron" type="tns:Patron" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePatronResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreatePatronResult" type="tns:Patron" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePatron">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePatronResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletePatronResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTools">
        <s:complexType />
      </s:element>
      <s:element name="GetAllToolsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllToolsResult" type="tns:ArrayOfTool" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTool">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tool" nillable="true" type="tns:Tool" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tool">
        <s:complexContent mixed="false">
          <s:extension base="tns:CRUDMethods">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="BrandId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Active" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Comments" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="InUse" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetAllToolsWithCondition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="condition" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllToolsWithConditionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllToolsWithConditionResult" type="tns:ArrayOfTool" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleTool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleToolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSingleToolResult" type="tns:Tool" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tool" type="tns:Tool" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateToolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateToolResult" type="tns:Tool" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateTool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tool" type="tns:Tool" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateToolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateToolResult" type="tns:Tool" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteToolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteToolResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllBrands">
        <s:complexType />
      </s:element>
      <s:element name="GetAllBrandsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllBrandsResult" type="tns:ArrayOfBrand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBrand">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Brand" nillable="true" type="tns:Brand" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Brand">
        <s:complexContent mixed="false">
          <s:extension base="tns:CRUDMethods">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="BrandName" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetSingleBrand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleBrandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSingleBrandResult" type="tns:Brand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBrand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="brand" type="tns:Brand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateBrandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateBrandResult" type="tns:Brand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateBrand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="brand" type="tns:Brand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateBrandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateBrandResult" type="tns:Brand" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBrand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBrandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteBrandResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllInvoices">
        <s:complexType />
      </s:element>
      <s:element name="GetAllInvoicesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllInvoicesResult" type="tns:ArrayOfPatronToolLoanInvoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPatronToolLoanInvoice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PatronToolLoanInvoice" nillable="true" type="tns:PatronToolLoanInvoice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PatronToolLoanInvoice">
        <s:complexContent mixed="false">
          <s:extension base="tns:CRUDMethods">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="ToolId" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="PatronId" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DateRented" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DateReturned" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Workspace" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetSinglePatronToolLoanInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSinglePatronToolLoanInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSinglePatronToolLoanInvoiceResult" type="tns:PatronToolLoanInvoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePatronToolLoanInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invoice" type="tns:PatronToolLoanInvoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePatronToolLoanInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePatronToolLoanInvoiceResult" type="tns:PatronToolLoanInvoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePatronToolLoanInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="invoice" type="tns:PatronToolLoanInvoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreatePatronToolLoanInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreatePatronToolLoanInvoiceResult" type="tns:PatronToolLoanInvoice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePatronToolLoanInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePatronToolLoanInvoiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletePatronToolLoanInvoiceResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidCredentials">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="staff" type="tns:Staff" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Staff">
        <s:complexContent mixed="false">
          <s:extension base="tns:CRUDMethods">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
              <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="UserPassword" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="ValidCredentialsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidCredentialsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllPatronsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPatrons" />
  </wsdl:message>
  <wsdl:message name="GetAllPatronsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPatronsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSinglePatronSoapIn">
    <wsdl:part name="parameters" element="tns:GetSinglePatron" />
  </wsdl:message>
  <wsdl:message name="GetSinglePatronSoapOut">
    <wsdl:part name="parameters" element="tns:GetSinglePatronResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePatronSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePatron" />
  </wsdl:message>
  <wsdl:message name="UpdatePatronSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePatronResponse" />
  </wsdl:message>
  <wsdl:message name="CreatePatronSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePatron" />
  </wsdl:message>
  <wsdl:message name="CreatePatronSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePatronResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePatronSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePatron" />
  </wsdl:message>
  <wsdl:message name="DeletePatronSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePatronResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllToolsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTools" />
  </wsdl:message>
  <wsdl:message name="GetAllToolsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllToolsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllToolsWithConditionSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllToolsWithCondition" />
  </wsdl:message>
  <wsdl:message name="GetAllToolsWithConditionSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllToolsWithConditionResponse" />
  </wsdl:message>
  <wsdl:message name="GetSingleToolSoapIn">
    <wsdl:part name="parameters" element="tns:GetSingleTool" />
  </wsdl:message>
  <wsdl:message name="GetSingleToolSoapOut">
    <wsdl:part name="parameters" element="tns:GetSingleToolResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateToolSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTool" />
  </wsdl:message>
  <wsdl:message name="UpdateToolSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateToolResponse" />
  </wsdl:message>
  <wsdl:message name="CreateToolSoapIn">
    <wsdl:part name="parameters" element="tns:CreateTool" />
  </wsdl:message>
  <wsdl:message name="CreateToolSoapOut">
    <wsdl:part name="parameters" element="tns:CreateToolResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteToolSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTool" />
  </wsdl:message>
  <wsdl:message name="DeleteToolSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteToolResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllBrandsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllBrands" />
  </wsdl:message>
  <wsdl:message name="GetAllBrandsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllBrandsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSingleBrandSoapIn">
    <wsdl:part name="parameters" element="tns:GetSingleBrand" />
  </wsdl:message>
  <wsdl:message name="GetSingleBrandSoapOut">
    <wsdl:part name="parameters" element="tns:GetSingleBrandResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateBrandSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateBrand" />
  </wsdl:message>
  <wsdl:message name="UpdateBrandSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateBrandResponse" />
  </wsdl:message>
  <wsdl:message name="CreateBrandSoapIn">
    <wsdl:part name="parameters" element="tns:CreateBrand" />
  </wsdl:message>
  <wsdl:message name="CreateBrandSoapOut">
    <wsdl:part name="parameters" element="tns:CreateBrandResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBrandSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBrand" />
  </wsdl:message>
  <wsdl:message name="DeleteBrandSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBrandResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllInvoicesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllInvoices" />
  </wsdl:message>
  <wsdl:message name="GetAllInvoicesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="GetSinglePatronToolLoanInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:GetSinglePatronToolLoanInvoice" />
  </wsdl:message>
  <wsdl:message name="GetSinglePatronToolLoanInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:GetSinglePatronToolLoanInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePatronToolLoanInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePatronToolLoanInvoice" />
  </wsdl:message>
  <wsdl:message name="UpdatePatronToolLoanInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePatronToolLoanInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="CreatePatronToolLoanInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:CreatePatronToolLoanInvoice" />
  </wsdl:message>
  <wsdl:message name="CreatePatronToolLoanInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:CreatePatronToolLoanInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePatronToolLoanInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePatronToolLoanInvoice" />
  </wsdl:message>
  <wsdl:message name="DeletePatronToolLoanInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePatronToolLoanInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="ValidCredentialsSoapIn">
    <wsdl:part name="parameters" element="tns:ValidCredentials" />
  </wsdl:message>
  <wsdl:message name="ValidCredentialsSoapOut">
    <wsdl:part name="parameters" element="tns:ValidCredentialsResponse" />
  </wsdl:message>
  <wsdl:portType name="YourProjectServiceSoap">
    <wsdl:operation name="GetAllPatrons">
      <wsdl:input message="tns:GetAllPatronsSoapIn" />
      <wsdl:output message="tns:GetAllPatronsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSinglePatron">
      <wsdl:input message="tns:GetSinglePatronSoapIn" />
      <wsdl:output message="tns:GetSinglePatronSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePatron">
      <wsdl:input message="tns:UpdatePatronSoapIn" />
      <wsdl:output message="tns:UpdatePatronSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatePatron">
      <wsdl:input message="tns:CreatePatronSoapIn" />
      <wsdl:output message="tns:CreatePatronSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePatron">
      <wsdl:input message="tns:DeletePatronSoapIn" />
      <wsdl:output message="tns:DeletePatronSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTools">
      <wsdl:input message="tns:GetAllToolsSoapIn" />
      <wsdl:output message="tns:GetAllToolsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllToolsWithCondition">
      <wsdl:input message="tns:GetAllToolsWithConditionSoapIn" />
      <wsdl:output message="tns:GetAllToolsWithConditionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleTool">
      <wsdl:input message="tns:GetSingleToolSoapIn" />
      <wsdl:output message="tns:GetSingleToolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTool">
      <wsdl:input message="tns:UpdateToolSoapIn" />
      <wsdl:output message="tns:UpdateToolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateTool">
      <wsdl:input message="tns:CreateToolSoapIn" />
      <wsdl:output message="tns:CreateToolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTool">
      <wsdl:input message="tns:DeleteToolSoapIn" />
      <wsdl:output message="tns:DeleteToolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBrands">
      <wsdl:input message="tns:GetAllBrandsSoapIn" />
      <wsdl:output message="tns:GetAllBrandsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleBrand">
      <wsdl:input message="tns:GetSingleBrandSoapIn" />
      <wsdl:output message="tns:GetSingleBrandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBrand">
      <wsdl:input message="tns:UpdateBrandSoapIn" />
      <wsdl:output message="tns:UpdateBrandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateBrand">
      <wsdl:input message="tns:CreateBrandSoapIn" />
      <wsdl:output message="tns:CreateBrandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBrand">
      <wsdl:input message="tns:DeleteBrandSoapIn" />
      <wsdl:output message="tns:DeleteBrandSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInvoices">
      <wsdl:input message="tns:GetAllInvoicesSoapIn" />
      <wsdl:output message="tns:GetAllInvoicesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSinglePatronToolLoanInvoice">
      <wsdl:input message="tns:GetSinglePatronToolLoanInvoiceSoapIn" />
      <wsdl:output message="tns:GetSinglePatronToolLoanInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePatronToolLoanInvoice">
      <wsdl:input message="tns:UpdatePatronToolLoanInvoiceSoapIn" />
      <wsdl:output message="tns:UpdatePatronToolLoanInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreatePatronToolLoanInvoice">
      <wsdl:input message="tns:CreatePatronToolLoanInvoiceSoapIn" />
      <wsdl:output message="tns:CreatePatronToolLoanInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePatronToolLoanInvoice">
      <wsdl:input message="tns:DeletePatronToolLoanInvoiceSoapIn" />
      <wsdl:output message="tns:DeletePatronToolLoanInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidCredentials">
      <wsdl:input message="tns:ValidCredentialsSoapIn" />
      <wsdl:output message="tns:ValidCredentialsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YourProjectServiceSoap" type="tns:YourProjectServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPatrons">
      <soap:operation soapAction="http://tempuri.org/GetAllPatrons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSinglePatron">
      <soap:operation soapAction="http://tempuri.org/GetSinglePatron" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatron">
      <soap:operation soapAction="http://tempuri.org/UpdatePatron" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePatron">
      <soap:operation soapAction="http://tempuri.org/CreatePatron" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatron">
      <soap:operation soapAction="http://tempuri.org/DeletePatron" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTools">
      <soap:operation soapAction="http://tempuri.org/GetAllTools" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllToolsWithCondition">
      <soap:operation soapAction="http://tempuri.org/GetAllToolsWithCondition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleTool">
      <soap:operation soapAction="http://tempuri.org/GetSingleTool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTool">
      <soap:operation soapAction="http://tempuri.org/UpdateTool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTool">
      <soap:operation soapAction="http://tempuri.org/CreateTool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTool">
      <soap:operation soapAction="http://tempuri.org/DeleteTool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBrands">
      <soap:operation soapAction="http://tempuri.org/GetAllBrands" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleBrand">
      <soap:operation soapAction="http://tempuri.org/GetSingleBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBrand">
      <soap:operation soapAction="http://tempuri.org/UpdateBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBrand">
      <soap:operation soapAction="http://tempuri.org/CreateBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBrand">
      <soap:operation soapAction="http://tempuri.org/DeleteBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInvoices">
      <soap:operation soapAction="http://tempuri.org/GetAllInvoices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSinglePatronToolLoanInvoice">
      <soap:operation soapAction="http://tempuri.org/GetSinglePatronToolLoanInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatronToolLoanInvoice">
      <soap:operation soapAction="http://tempuri.org/UpdatePatronToolLoanInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePatronToolLoanInvoice">
      <soap:operation soapAction="http://tempuri.org/CreatePatronToolLoanInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatronToolLoanInvoice">
      <soap:operation soapAction="http://tempuri.org/DeletePatronToolLoanInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidCredentials">
      <soap:operation soapAction="http://tempuri.org/ValidCredentials" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YourProjectServiceSoap12" type="tns:YourProjectServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllPatrons">
      <soap12:operation soapAction="http://tempuri.org/GetAllPatrons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSinglePatron">
      <soap12:operation soapAction="http://tempuri.org/GetSinglePatron" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatron">
      <soap12:operation soapAction="http://tempuri.org/UpdatePatron" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePatron">
      <soap12:operation soapAction="http://tempuri.org/CreatePatron" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatron">
      <soap12:operation soapAction="http://tempuri.org/DeletePatron" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTools">
      <soap12:operation soapAction="http://tempuri.org/GetAllTools" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllToolsWithCondition">
      <soap12:operation soapAction="http://tempuri.org/GetAllToolsWithCondition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleTool">
      <soap12:operation soapAction="http://tempuri.org/GetSingleTool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTool">
      <soap12:operation soapAction="http://tempuri.org/UpdateTool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTool">
      <soap12:operation soapAction="http://tempuri.org/CreateTool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTool">
      <soap12:operation soapAction="http://tempuri.org/DeleteTool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBrands">
      <soap12:operation soapAction="http://tempuri.org/GetAllBrands" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleBrand">
      <soap12:operation soapAction="http://tempuri.org/GetSingleBrand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBrand">
      <soap12:operation soapAction="http://tempuri.org/UpdateBrand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateBrand">
      <soap12:operation soapAction="http://tempuri.org/CreateBrand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBrand">
      <soap12:operation soapAction="http://tempuri.org/DeleteBrand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInvoices">
      <soap12:operation soapAction="http://tempuri.org/GetAllInvoices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSinglePatronToolLoanInvoice">
      <soap12:operation soapAction="http://tempuri.org/GetSinglePatronToolLoanInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePatronToolLoanInvoice">
      <soap12:operation soapAction="http://tempuri.org/UpdatePatronToolLoanInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePatronToolLoanInvoice">
      <soap12:operation soapAction="http://tempuri.org/CreatePatronToolLoanInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePatronToolLoanInvoice">
      <soap12:operation soapAction="http://tempuri.org/DeletePatronToolLoanInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidCredentials">
      <soap12:operation soapAction="http://tempuri.org/ValidCredentials" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YourProjectService">
    <wsdl:port name="YourProjectServiceSoap" binding="tns:YourProjectServiceSoap">
      <soap:address location="http://localhost:55550/YourProjectService.asmx" />
    </wsdl:port>
    <wsdl:port name="YourProjectServiceSoap12" binding="tns:YourProjectServiceSoap12">
      <soap12:address location="http://localhost:55550/YourProjectService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>